asgiref
channels
channels_redis
daphne
Django
django-ratelimit
django-tailwind
gunicorn
msgpack
numpy
openpyxl
packaging
pandas
pillow
pypdf
PyPDF2
python-dateutil
python-docx
python-slugify
PyYAML
redis
reportlab
requests
six
sqlparse
typing_extensions
tzdata
tzlocal
ujson
urllib3
